# Python Assignment : 1 ( NumPy )

#### Name: Rajput Pruthviraj Dineshsing
#### Class: BE (Computer)
#### Div: B
#### Roll No: 37

# NumPy

## Array

In [6]:
# import NumPy Here
import numpy as np

# assign list array convert to array
a = np.array([0,1,2,3])
# print array
print(a)

# print array in range 0 to 10 useong arange(limit)
print(np.arange(10))

[0 1 2 3]
[0 1 2 3 4 5 6 7 8 9]

In [9]:
# Python Lists
L = range(2000)
print(L)

%timeit [i**2 for i in L]

range(0, 2000)
506 µs ± 7.55 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [10]:
a = np.arange(2000)
print(a)
%timeit a**2

[   0    1    2 ... 1997 1998 1999]
2.36 µs ± 102 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

## 1. Creating arrays

In [11]:
# 1-D array

a = np.array([0,1,2,3,4,5])

a

array([0, 1, 2, 3, 4, 5])

In [12]:
#Print Dimensions of array

a.ndim

1

In [13]:
# Shape of array
a.shape

(6,)

In [14]:
# 2-Dimentions Array

b = np.array([[0,1,2] , [3,4,5]])

b

array([[0, 1, 2],
       [3, 4, 5]])

In [15]:
# Print Dimensions 
b.ndim

2

In [16]:
# Shape
b.shape

(2, 3)

In [17]:
len(b) #returns the size of the first dimention

2

In [24]:
# 3-Dimensions Array
c = np.array([[[0,1], [2,3]], [[4,5], [6,7]]])

c

array([[[0, 1],
        [2, 3]],

       [[4, 5],
        [6, 7]]])

In [26]:
# Diamentions
c.ndim

3

In [25]:
# Shape
c.shape

(2, 2, 2)

### Functions for creating arrays

In [27]:
# using arrange function

# arange is an array-valued version of the built-in Python range function

a = np.arange(10)

a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [28]:
b = np.arange(1, 10, 2) #start, end (exclusive), step

b

array([1, 3, 5, 7, 9])

In [29]:
# using linspace

a = np.linspace(0, 1, 6) #start, end, number of points

a

array([0. , 0.2, 0.4, 0.6, 0.8, 1. ])

In [30]:
# common arrays

a = np.ones((3, 3))

a

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [31]:
b = np.zeros((3, 3))

b

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [32]:
c = np.eye(3, 2) #3 is number of rows, 2 is number of columns, index of diagonals 

c

array([[1., 0.],
       [0., 1.],
       [0., 0.]])

In [33]:
# create array using diag function

a = np.diag([1,2,3,4]) #construct a diagonal array

a

array([[1, 0, 0, 0],
       [0, 2, 0, 0],
       [0, 0, 3, 0],
       [0, 0, 0, 4]])

In [34]:
np.diag(a) # Extract diagonal

array([1, 2, 3, 4])

In [40]:
# create array using random

# create an array of the given shape and populate it with random samples 0 to 4

a = np.random.rand(4)

a

array([0.39449044, 0.53994672, 0.30721895, 0.40625693])

In [42]:
a = np.random.randn(4) #Return a sample (or samples) from the "standard normal"

a

array([-1.6415352 , -0.4313726 , -0.37102453,  0.62764157])

## 2. Basic Data Types

In [47]:
a = np.arange(20)
a.dtype

dtype('int32')

In [49]:
# Explicitly specify which data-type you want:

a = np.arange(10, dtype='float64')

a

array([0., 1., 2., 3., 4., 5., 6., 7., 8., 9.])

In [51]:
#  The default data type is float for zeros and onces function

a = np.zeros((3, 3))

print(a)

a.dtype

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

dtype('float64')

### Other Dtataype

In [54]:
# Cpmplex datatype

d = np.array([1+2j, 2+4j])

print(d.dtype)

complex128

In [55]:
# Boolean Datatype

b = np.array([True, False, True, False])

print(b.dtype)

bool

In [58]:
s = np.array(['Ram','Robert','Rahim'])

s.dtype

dtype('<U6')

Each built-in data type has a character code that unique identifies it.

## 3. Indexing and Slicing

### 3.1 Indexing

The items of an array can be accessed and assigned to the same way as other Python Sequences (eg.lists)

In [59]:
a = np.arange(10)

print(a[6]) #indices begin at 0, like other python sequences ( and c/c++)

6

In [60]:
# For multidimentsional arrays, indexes are tuples of integers:

a = np.diag([1, 2, 3])

print(a[2, 2])

3

In [61]:
# Assiging Value

a[2, 1] = 5

a

array([[1, 0, 0],
       [0, 2, 0],
       [0, 5, 3]])

### 3.2 Slicing

In [62]:
a = np.arange(10)

a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [63]:
# [startindex: endindex(exclusive): step]

a[1:8:2]

array([1, 3, 5, 7])

In [64]:
# We can also Commbine assignment and slicing:

a = np.arange(10)

a[5:] = 10

a

array([ 0,  1,  2,  3,  4, 10, 10, 10, 10, 10])

In [65]:
b = np.arange(5)
a[5:] = b[::-1] #assigning 

a

array([0, 1, 2, 3, 4, 4, 3, 2, 1, 0])

## 4. Copies and Views

A slicing opertion creates a view on the original array, which is just a way of accessing array data. Thus the original array is not copied in memory. i have useed np.may_share_memory() to cheack if two arrays share the same memory block.

When modifying the view, the oiginal array is modified as well

In [68]:
a = np.arange(20)
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [69]:
b = a[::5]

b

array([ 0,  5, 10, 15])

In [71]:
c = a[::2]
c

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [72]:
np.shares_memory(a,b)

True

In [73]:
b[0] = 10

b

array([10,  5, 10, 15])

In [76]:
c[1] = 10
c

array([10, 10,  4,  6,  8, 10, 12, 14, 16, 18])

In [77]:
a

array([10,  1, 10,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [82]:
a = np.arange(10)

c = a[::2].copy() # force a copy

c

array([0, 2, 4, 6, 8])

In [79]:
np.shares_memory(a,c)

False

In [83]:
c[0] = 10

a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

## 5. Fancy Indxing

NumPy arrays can be indexed with slices, but also with boolean or integer arrays (masks). This method is called fancy indexing. it creates copies not views.

### Using Boolean Mask

In [34]:
a = np.random.randint(0, 20, 15)

a

array([18,  7, 19, 13,  4, 17,  6, 13,  4,  5,  6,  2,  5, 18,  4])

In [35]:
mask = (a % 2 == 0)

In [36]:
extract_form_a = a[mask]

extract_form_a

array([18,  4,  6,  4,  6,  2, 18,  4])

Indexing with a mask can be very useful to assign a new value to a sub-array

In [37]:
a[mask] = -1

a

array([-1,  7, 19, 13, -1, 17, -1, 13, -1,  5, -1, -1,  5, -1, -1])

Indexing with an array of integers

In [38]:
a = np.arange(0, 100, 10)

a

array([ 0, 10, 20, 30, 40, 50, 60, 70, 80, 90])

In [39]:
# Indexing cann be done with an array of intergers, where the same index is same

a[[2, 3, 2, 4, 2]]

array([20, 30, 20, 40, 20])

In [40]:
# New values can be assigned

a[[9, 7]] = -200

a

array([   0,   10,   20,   30,   40,   50,   60, -200,   80, -200])

## 6. Elementwise Operations

### 6.1. Basic Operations

#### with scalars

In [41]:
a = np.array([1,2,3,4,5,6,7,8,9]) #creare an array

a + 1

array([ 2,  3,  4,  5,  6,  7,  8,  9, 10])

In [42]:
a ** 2

array([ 1,  4,  9, 16, 25, 36, 49, 64, 81], dtype=int32)

#### All araithmatic operation elementwise

In [53]:
b = np.ones(9) + 1

a - b

array([-1.,  0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.])

In [54]:
a * b

array([ 2.,  4.,  6.,  8., 10., 12., 14., 16., 18.])

In [58]:
# Matrix multiplication

c = np.diag([1, 2, 3, 4])

print(c * c)

print("****************")

print(c.dot(c))

[[ 1  0  0  0]
 [ 0  4  0  0]
 [ 0  0  9  0]
 [ 0  0  0 16]]
****************
[[ 1  0  0  0]
 [ 0  4  0  0]
 [ 0  0  9  0]
 [ 0  0  0 16]]

In [59]:
a = np.array([1, 2, 3, 4])
b = np.array([5, 2, 2, 4])

a == b

array([False,  True, False,  True])

In [60]:
a > b

array([False, False,  True, False])

In [61]:
# array-wise-comparisions

a = np.array([1, 2, 3, 4])
b = np.array([5, 2, 2, 4])
c = np.array([1, 2, 3, 4])

np.array_equal(a,b)

False

In [62]:
np.array_equal(a,c)

True

### 6.2. Logical Operation

In [64]:
a = np.array([1, 1, 0, 0], dtype=bool)
b = np.array([1, 0, 1, 0], dtype=bool)

np.logical_or(a,b)

array([ True,  True,  True, False])

In [65]:
np.logical_and(a,b)

array([ True, False, False, False])

### 6.3. Transcendental functions

In [66]:
a = np.arange(5)

np.sin(a)

array([ 0.        ,  0.84147098,  0.90929743,  0.14112001, -0.7568025 ])

In [67]:
np.log(a)

<ipython-input-67-89b6b8e53c58>:1: RuntimeWarning: divide by zero encountered in log
  np.log(a)

array([      -inf, 0.        , 0.69314718, 1.09861229, 1.38629436])

In [68]:
np.exp(a) #evaluates e^x for each element in a given input

array([ 1.        ,  2.71828183,  7.3890561 , 20.08553692, 54.59815003])

### 6.4.Shape Mismatch

In [70]:
a = np.arange(4)

a + np.array([1, 2])

ValueError: operands could not be broadcast together with shapes (4,) (2,)

## 7. Basic Reductions

### 7.1.Computing Sums

In [71]:
x = np.array([1, 2, 3, 4])
np.sum(x)

10

In [72]:
# sum by rows and the columns

x = np.array([[1, 1], [2, 2]])

x

array([[1, 1],
       [2, 2]])

In [74]:
x.sum(axis=0) #columns first dimention

array([3, 3])

In [76]:
x.sum(axis=1) #rows (second dimention)

array([2, 4])

### 7.2. Other Reductions

In [77]:
x = np.array([1, 3, 2])
x.min()

1

In [78]:
x.max()

3

In [80]:
x.argmin() #index of minimum element

0

In [82]:
x.argmax() #index of maximum element

1

### 7.3. Logical Operations

In [83]:
np.all([True, True, False])

False

In [84]:
np.any([True, False, False])

True

In [87]:
# Note: Can be used for array comparisions

a = np.zeros((50, 50))

print(a)

np.any(a != 0)

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

False

In [88]:
np.all(a == a)

True

In [89]:
a = np.array([1, 2, 3, 2])
b = np.array([2, 2, 3, 2])
c = np.array([6, 4, 4, 5])
((a <= b) & (b <= c)).all()

True

### 7.4. Statistics

In [90]:
x = np.array([1, 2, 3, 1])
y = np.array([[1, 2, 3], [5, 6, 1]])
x.mean()

1.75

In [91]:
np.median(x)

1.5

In [93]:
np.median(y, axis=-1) # last axis

array([2., 5.])

In [94]:
x.std() # full population standard dev

0.82915619758885

Data in population.txt describes the population of hares (and carrots) in northen Canada during 20 years.

In [104]:
# load data into numpy array object
data = np.loadtxt('populations.txt')

In [100]:
data

array([[ 1900., 30000.,  4000., 48300.],
       [ 1901., 47200.,  6100., 48200.],
       [ 1902., 70200.,  9800., 41500.],
       [ 1903., 77400., 35200., 38200.],
       [ 1904., 36300., 59400., 40600.],
       [ 1905., 20600., 41700., 39800.],
       [ 1906., 18100., 19000., 38600.],
       [ 1907., 21400., 13000., 42300.],
       [ 1908., 22000.,  8300., 44500.],
       [ 1909., 25400.,  9100., 42100.],
       [ 1910., 27100.,  7400., 46000.],
       [ 1911., 40300.,  8000., 46800.],
       [ 1912., 57000., 12300., 43800.],
       [ 1913., 76600., 19500., 40900.],
       [ 1914., 52300., 45700., 39400.],
       [ 1915., 19500., 51100., 39000.],
       [ 1916., 11200., 29700., 36700.],
       [ 1917.,  7600., 15800., 41800.],
       [ 1918., 14600.,  9700., 43300.],
       [ 1919., 16200., 10100., 41300.],
       [ 1920., 24700.,  8600., 47300.]])

In [105]:
#  Columns to variables
year, hares, lynxes, carrots = data.T

In [106]:
print(year)

[1900. 1901. 1902. 1903. 1904. 1905. 1906. 1907. 1908. 1909. 1910. 1911.
 1912. 1913. 1914. 1915. 1916. 1917. 1918. 1919. 1920.]

In [107]:
print(hares)

[30000. 47200. 70200. 77400. 36300. 20600. 18100. 21400. 22000. 25400.
 27100. 40300. 57000. 76600. 52300. 19500. 11200.  7600. 14600. 16200.
 24700.]

In [108]:
print(lynxes)

[ 4000.  6100.  9800. 35200. 59400. 41700. 19000. 13000.  8300.  9100.
  7400.  8000. 12300. 19500. 45700. 51100. 29700. 15800.  9700. 10100.
  8600.]

In [109]:
print(carrots)

[48300. 48200. 41500. 38200. 40600. 39800. 38600. 42300. 44500. 42100.
 46000. 46800. 43800. 40900. 39400. 39000. 36700. 41800. 43300. 41300.
 47300.]

In [110]:
#  The mean population over time

populations = data[:, 1:]
populations

array([[30000.,  4000., 48300.],
       [47200.,  6100., 48200.],
       [70200.,  9800., 41500.],
       [77400., 35200., 38200.],
       [36300., 59400., 40600.],
       [20600., 41700., 39800.],
       [18100., 19000., 38600.],
       [21400., 13000., 42300.],
       [22000.,  8300., 44500.],
       [25400.,  9100., 42100.],
       [27100.,  7400., 46000.],
       [40300.,  8000., 46800.],
       [57000., 12300., 43800.],
       [76600., 19500., 40900.],
       [52300., 45700., 39400.],
       [19500., 51100., 39000.],
       [11200., 29700., 36700.],
       [ 7600., 15800., 41800.],
       [14600.,  9700., 43300.],
       [16200., 10100., 41300.],
       [24700.,  8600., 47300.]])

In [111]:
# sample standard deviations
populations.std(axis=0)

array([20897.90645809, 16254.59153691,  3322.50622558])

In [112]:
# which species has the highest population each year ?

np.argmax(populations, axis=1)

array([2, 2, 0, 0, 1, 1, 2, 2, 2, 2, 2, 2, 0, 0, 0, 1, 2, 2, 2, 2, 2],
      dtype=int64)

## 8. Broadcasting

Basic Operations on numpy arrays (addition, etc.) are elemnentwise

This works on arrays of the same size.Necertheiess. it's also possible to do operations on arrays of different sizes if NumPy can transform these arrays so that all have the same size: this conversion is called broadcasting.

In [118]:
a = np.tile(np.arange(0, 40, 10), (3, 1))
print(a)

[[ 0 10 20 30]
 [ 0 10 20 30]
 [ 0 10 20 30]]

In [119]:
a = a.T
print(a)

[[ 0  0  0]
 [10 10 10]
 [20 20 20]
 [30 30 30]]

In [120]:
b = np.array([0, 1, 2])
b

array([0, 1, 2])

In [121]:
a + b

array([[ 0,  1,  2],
       [10, 11, 12],
       [20, 21, 22],
       [30, 31, 32]])

In [123]:
a = np.arange(0, 40, 10)
a.shape

(4,)

In [124]:
a = a[:, np.newaxis] #adds a new axise -> 2D array
a.shape

(4, 1)

In [125]:
a

array([[ 0],
       [10],
       [20],
       [30]])

In [126]:
a + b

array([[ 0,  1,  2],
       [10, 11, 12],
       [20, 21, 22],
       [30, 31, 32]])

## 9. Array Shape Manipulation

### 9.1. Flattening

In [128]:
a = np.array([[1, 2, 3], [4, 5, 6]])
a.ravel() # Return a contigous flattened array. A 1-D array

array([1, 2, 3, 4, 5, 6])

In [129]:
a.T # Transpose

array([[1, 4],
       [2, 5],
       [3, 6]])

In [130]:
a.T.ravel()

array([1, 4, 2, 5, 3, 6])

### 9.2. Reshaping

The inverse operation to flattening

In [131]:
print(a.shape)

print(a)

(2, 3)
[[1 2 3]
 [4 5 6]]

In [132]:
b = a.ravel()
print(b)

[1 2 3 4 5 6]

In [133]:
b = b.reshape((2, 3))

b

array([[1, 2, 3],
       [4, 5, 6]])

In [134]:
b[0, 0] = 100
a

array([[100,   2,   3],
       [  4,   5,   6]])

Note and Beware: reshape may also return a copy!:

In [135]:
a = np.zeros((3,2))
b =  a.T.reshape(3*2)
b[0] = 50
a

array([[0., 0.],
       [0., 0.],
       [0., 0.]])

### 9.3. Adding a Dimension

Indexing with the np.newaxis object allows us to add an axis to an array

newaxis is used to increase the dimension of the existing array by one more dimention, whwn used once. Thus,

1D array will become 2D array

2D array will become 3D array

3D array will become 4D array and so on

In [137]:
z = np.array([1, 2, 3])
z

array([1, 2, 3])

In [138]:
z[:, np.newaxis]

array([[1],
       [2],
       [3]])

### 9.4. Dimension Shuffling

In [139]:
a = np.arange(4*3*2).reshape(4, 3, 2)

a.shape

(4, 3, 2)

In [140]:
a

array([[[ 0,  1],
        [ 2,  3],
        [ 4,  5]],

       [[ 6,  7],
        [ 8,  9],
        [10, 11]],

       [[12, 13],
        [14, 15],
        [16, 17]],

       [[18, 19],
        [20, 21],
        [22, 23]]])

In [141]:
a[0, 2, 1]

5

### 9.5. Resizing

In [142]:
a = np.arange(4)
a.resize((8,))
a

array([0, 1, 2, 3, 0, 0, 0, 0])

Howevere, it must not be referred to somewhere else:

In [143]:
b = a
a.resize((4,))

ValueError: cannot resize an array that references or is referenced
by another array in this way.
Use the np.resize function or refcheck=False

### 9.6. Sorting Data

In [144]:
# Sorting along an axis:
a = np.array([[5, 4, 6],[2, 3, 2]])
b = np.sort(a, axis=1)
b

array([[4, 5, 6],
       [2, 2, 3]])

In [145]:
# in-place sort
a.sort(axis=1)
a

array([[4, 5, 6],
       [2, 2, 3]])

In [146]:
# sorting with fancy indexing

a = np.array([4, 3, 1, 2])
j = np.argsort(a)
j

array([2, 3, 1, 0], dtype=int64)

In [147]:
a[j]

array([1, 2, 3, 4])