# Python Assignment : 4 ( Pandas Dataframe )

Dta frame is a main object in pandas. It is used to reprasent data with rows and columns

Data frame is a datastructure reprasent the data in tabular or excel spread sheeet like data

## Creating Dataframe

In [3]:
# importing pandas
import pandas as pd

# Read Weather.csv data file
df = pd.read_csv("weather_data.csv")

# Show Data Table Formate
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [5]:
# lists of tuples

weather_data = [('1/1/2017', 32, 6, 'Rain'),
               ('1/2/2017', 35, 7, 'Sunny'),
               ('1/3/2017', 28, 2, 'Snow'),
               ('1/4/2017', 24, 7, 'Snow'),
               ('1/5/2017', 32, 4, 'Rain'),
               ('1/6/2017', 31, 2, 'Sunny')]

df = pd.DataFrame(weather_data, columns=['day', 'temprature', 'windspeed','event'])

df

        day  temprature  windspeed  event
0  1/1/2017          32          6   Rain
1  1/2/2017          35          7  Sunny
2  1/3/2017          28          2   Snow
3  1/4/2017          24          7   Snow
4  1/5/2017          32          4   Rain
5  1/6/2017          31          2  Sunny

In [7]:
# get dimensions of the table

df.shape # Total number of Rows and Columns

(6, 4)

In [9]:
# if you want to see initial some rows then use head command (default 5 rows)
df.head()

        day  temprature  windspeed  event
0  1/1/2017          32          6   Rain
1  1/2/2017          35          7  Sunny
2  1/3/2017          28          2   Snow
3  1/4/2017          24          7   Snow
4  1/5/2017          32          4   Rain

In [11]:
# if you wqant to see last few rows then use taill command ( default last 5 rows )
df.tail()

        day  temprature  windspeed  event
1  1/2/2017          35          7  Sunny
2  1/3/2017          28          2   Snow
3  1/4/2017          24          7   Snow
4  1/5/2017          32          4   Rain
5  1/6/2017          31          2  Sunny

In [13]:
# slicing
df[2:5]

        day  temprature  windspeed event
2  1/3/2017          28          2  Snow
3  1/4/2017          24          7  Snow
4  1/5/2017          32          4  Rain

In [14]:
df.columns # Print columns in table

Index(['day', 'temprature', 'windspeed', 'event'], dtype='object')

In [15]:
df.day # Print particular column data

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [16]:
# another way to accessing column
df['day'] #df.day (both are same)

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [17]:
# get 2 or more columns
df[['day', 'event']]

        day  event
0  1/1/2017   Rain
1  1/2/2017  Sunny
2  1/3/2017   Snow
3  1/4/2017   Snow
4  1/5/2017   Rain
5  1/6/2017  Sunny

In [19]:
# get all temperatures
df['temprature']

0    32
1    35
2    28
3    24
4    32
5    31
Name: temprature, dtype: int64

In [20]:
# print max temperature
df['temprature'].max()

35

In [21]:
# print min temperature
df['temprature'].min()

24

In [22]:
# print max temperature
df['temprature'].describe()

count     6.000000
mean     30.333333
std       3.829708
min      24.000000
25%      28.750000
50%      31.500000
75%      32.000000
max      35.000000
Name: temprature, dtype: float64

In [23]:
# select rows has maxumum temprature

df[df.temprature == df.temprature.max()]

        day  temprature  windspeed  event
1  1/2/2017          35          7  Sunny

In [25]:
# select only day column which has maximum temperature 
df.day[df.temprature == df.temprature.max()]

1    1/2/2017
Name: day, dtype: object